<!doctype html>
<html lang="en">
    {% include "head" %}
    <body>
        {% include "nav-design" %}
        <div class="design-container">
            {% block content %}{% endblock %}
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        {{ "design-navigation.js" | asset_url | script_tag }}
        {% block scripts %}{% endblock %}
    </body>
</html>