<!doctype html>
<html lang="en">
    {% include "head" %}
    <body>
        <div class="wrapper">
            <div class="row">
                <section class="main-content col push-1-4 three-to-four">
                    <article id="content" class="text">
                        {% block content %}{% endblock %}
                    </article>
                </section>
            </div>
            <section class="sidebar">
                <a class="button button-back" href="/">Retour</a>
                <ul id="table-of-content"></ul>
            </section>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        {{ "table-of-content.js" | asset_url | script_tag }}
        {% block scripts %}{% endblock %}
    </body>
</html>