<!doctype html>
<html lang="en">
    <head>
        <meta charset=utf-8 />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% block metas %}{% endblock %}
        <title>{% block title %}Prototype pour une plateforme client{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        {{ "index.css" | asset_url | stylesheet_tag }}
        {% block styles %}{% endblock %}
    </head>
    <body>
        <div class="spacer">
            <div class="wrapper">
                {% block content %}{% endblock %}
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        {{ "index.js" | asset_url | script_tag }}
        {% block scripts %}{% endblock %}
    </body>
</html>