---
title: header
slug: header-v2
published: true
date: 2014-05-27 11:10
tags: [deliverable]
layout: design-layout
---


<section class="keynote-section">

  <div class="keynote-text">
    <h1>Header V2</h1>
    <p>Last year, SuperFriendly did some work with our friend Garrett Dimon to help him establish a new design direction for Sifter, his issue-tracking product (new site coming soon). Here’s the visual inventory we sent over to him:</p>
  </div>

</section>