---
title: Visual Research
slug: visual-research
published: true
date: 2014-05-26 10:51
tags: [deliverable]
layout: keynote-layout
---

<section class="keynote-section">

  <div class="keynote-text">
    <h1>Couleur</h1>
    <p>Last year, SuperFriendly did some work with our friend Garrett Dimon to help him establish a new design direction for Sifter, his issue-tracking product (new site coming soon). Here’s the visual inventory we sent over to him:</p>
  </div>

  <figure class="keynote-doc">
    <img src="{{ "gubb-and-mackie.jpg" | asset_url }}" alt="">
    <figcaption>This is a description of the document</figcaption>
  </figure>

  <figure class="keynote-doc">
    <img src="{{ "dieter-rams.jpg" | asset_url }}" alt="">
    <figcaption>This is a description of the document but a bit long compare to the other, it's to test on several lines of text.</figcaption>
  </figure>

  <figure class="keynote-doc">
    <img src="{{ "maquette-braun.jpg" | asset_url }}" alt="">
    <figcaption>This is a description of the document</figcaption>
  </figure>

</section>

<section class="keynote-section">
  <div class="keynote-text">
    <h1>Layout</h1>
    <p>Last year, SuperFriendly did some work with our friend Garrett Dimon to help him establish a new design direction for Sifter, his issue-tracking product (new site coming soon). Here’s the visual inventory we sent over to him:</p>
  </div>
</section>
