<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  {% block metas %}{% endblock %}
  <title>{% block title %}Prototype pour une plateforme client{% endblock %}</title>
  <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
  {{ "main.css" | asset_url | stylesheet_tag }}
  {% block styles %}{% endblock %}
</head>