<header class="header wrapper row">
  <div class="col">
    <ul class="navigation list-horizontal">
      <li><a class="" href="/">Timeline</a></li>
      <li><a class="" href="/timetracking">Timetracking</a></li>
    </ul>
    <div class="project-info">
      <a class="project-title" href="/">{{ global.name-project }}</a>
<!--       <p class="project-client">client: {{ global.name-client }}</p> -->
    </div>

  </div>
</header>