<header class="header wrapper row">
  <div class="col three-to-four">  
    <h1>
      <a href="/">{{ global.name-project }}</a>
      <span class="client">pour {{ global.name-client }}</span>
    </h1>
  </div>
  <div class="col one-to-four">
    <ul class="text-right list-horizontal">
      <li><a class="header-bt" href="/">Timeline</a></li>
      <li><a class="header-bt" href="/timetracking">Timetracking</a></li>
    </ul>
  </div>
  <!-- <div>Temps passé – {{ global.time-tracking}}h</div> -->
</header>