<nav class="nav-design">
  <div class="wrapper">
    <a class="button button-back" href="/">Retour</a>
    <div class="nav-wrapper">          
      <p class="nav-title">{{model.title}}</p>
      <ul class="nav-list" id="design-nav"></ul>
    </div>
  </div>
</nav>
