<p class="paragraph-small">Temps passé : <span id="time-passed">0</span> • Temps estimé : <span id="time-estimate">{{ model.estimate }}</span>h</p>
<div class="progression-bar">
  <div class="progression-bar-mask">
    <div class="progression-bar-progress"></div>
  </div>
</div>

