@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, .step--event h3, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.col {
  padding: 0 9px;
}

.row .row {
  margin: 0 -9px;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

@media only screen {
  .col {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  .sidebar {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .sidebar {
    width: 33.33333%;
  }
}

.wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 36px 0 144px;
}

.spacer {
  padding: 0 5%;
}

@font-face {
  font-family: "Calibre Regular";
  src: url('/assets/css/fonts/../../fonts/calibre/calibre-regular.woff') format('woff'), url('/assets/css/fonts/../../fonts/calibre/calibre-regular.ttf') format('truetype'), url('/assets/css/fonts/../../fonts/calibre/calibre-regular.otf') format('opentype'), url('/assets/css/fonts/../../fonts/calibre/calibre-regular.svg') format('svg');
}

@font-face {
  font-family: "Calibre Semi";
  src: url('/assets/css/fonts/../../fonts/calibre/calibre-semibold.woff') format('woff'), url('/assets/css/fonts/../../fonts/calibre/calibre-semibold.ttf') format('truetype'), url('/assets/css/fonts/../../fonts/calibre/calibre-semibold.otf') format('opentype'), url('/assets/css/fonts/../../fonts/calibre/calibre-semibold.svg') format('svg');
}

h1, .h1 {
  font-family: "Calibre Semi";
  font-size: 46px;
  line-height: 1;
  letter-spacing: -0.025em;
}

h2, .h2, .step-title {
  font-family: "Calibre Regular";
  font-size: 28px;
}

h3, .h3 {
  font-family: "Calibre Regular";
  font-size: 20px;
  text-transform: uppercase;
}

h4, .h4, .timeline-start {
  font-family: "Calibre Semi";
  font-size: 18px;
}

.step-date {
  display: inline-block;
  font-family: "Calibre Regular";
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
}

h1, .h1 {
  color: #4e4c47;
  margin-bottom: 18px;
}

h2, .h2 {
  margin-top: 54px;
  margin-bottom: 36px;
  border-bottom: 1px dotted;
}

h3, .h3 {
  margin-top: 36px;
  margin-bottom: 9px;
}

h4, .h4 {
  color: #838078;
  letter-spacing: 0.02em;
  margin-top: 18px;
}

h1 em {
  font-family: "Calibre Regular";
  color: #b4b2ad;
  padding-left: 9px;
}

p, .step--event h3 {
  font-size: 18px;
  margin-bottom: 18px;
}

small, .small, figcaption {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
}

ul, ol {
  list-style: disc outside none;
  margin-left: 18px;
  margin-bottom: 18px;
}
ul ul, ol ul {
  margin-left: 27px;
  list-style: circle outside none;
}

ol {
  list-style: decimal outside none;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.header {
  padding: 36px 0;
  margin-bottom: 144px;
}
.header h1 {
  margin: 0;
  border: 0;
  left: 0;
  text-transform: none;
}

.footer {
  padding-top: 144px;
  padding-bottom: 36px;
  color: #b4b2ad;
}

.timeline {
  position: relative;
  list-style: none;
  border-left: 4px solid #838078;
  margin-left: 9px;
  max-width: 320px;
  margin: 0 auto;
}

.timeline-step {
  position: relative;
  padding: 0 18px;
  margin-bottom: 72px;
  top: -36px;
}
.timeline-step:before {
  position: absolute;
  top: 29px;
  left: -14px;
  content: "";
  width: 14px;
  height: 14px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  border: 4px solid #838078;
  background-color: white;
}

.timeline-start {
  margin: 0;
  border: 0;
  left: 0;
  text-transform: none;
  position: relative;
  left: -4px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: inline-block;
  color: #838078;
  background-color: white;
  padding: 13px 18px 9px;
  border: 4px solid #838078;
}
@media screen and (min-width: 400px) {
  .timeline-start {
    left: -17%;
  }
}

.step-date {
  margin: 0;
  border: 0;
  left: 0;
  text-transform: none;
}

.step-title {
  margin: 0;
  border: 0;
  left: 0;
  text-transform: none;
  color: #4e4c47;
}

.step-link {
  text-decoration: underline;
  padding: 4.5px 0;
}
.step-link:hover {
  text-decoration: none;
  color: #f07060;
}

.step--next h2, .step--next h3 {
  color: #f07060;
}
.step--next:before {
  background-color: #f07060;
  border-color: white;
}

.step--event h3 {
  color: #4e4c47;
}
.step--event:before {
  background-color: #838078;
  border: 0;
  top: 27px;
  left: -9px;
}

.keynote-text {
  margin: 0 auto;
  padding: 72px 0;
}
@media screen and (min-width: 900px) {
  .keynote-text {
    width: 50%;
  }
}

.keynote-doc {
  position: relative;
  margin-bottom: 36px;
}
@media screen and (min-width: 900px) {
  .keynote-doc {
    text-align: right;
  }
}
.keynote-doc img {
  display: block;
  min-width: 75%;
  max-width: 100%;
}
@media screen and (min-width: 900px) {
  .keynote-doc img {
    display: inline-block;
    padding-right: 25%;
  }
}
.keynote-doc figcaption {
  position: relative;
  text-align: left;
  padding: 18px 18px;
}
@media screen and (min-width: 900px) {
  .keynote-doc figcaption {
    position: absolute;
    width: 25%;
    padding: 36px 72px 36px 36px;
    top: 0;
    right: 0;
  }
}
@media screen and (min-width: 900px) {
  .keynote-doc figcaption:after {
    display: block;
    content: "←";
    color: #b4b2ad;
    margin-top: 18px;
  }
}
@media screen and (max-width: 900px) {
  .keynote-doc figcaption:before {
    content: "↑";
    position: absolute;
    left: 0;
    top: 16px;
    color: #b4b2ad;
  }
}

.design-nav {
  padding: 18px 0;
  background-color: whitesmoke;
  text-align: center;
}
.design-nav ul {
  margin: 0;
  list-style: none;
}
.design-nav li {
  display: inline-block;
  padding: 0 9px;
}

.design-container {
  padding: 36px 0;
  overflow: hidden;
}

.design-image {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Calibre Regular", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 1.4;
  color: #838078;
}
