@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.bg-grey {
  background-color: #f3f2ee;
}

@font-face {
  font-family: "Calibre Regular";
  src: url(/assets/fonts/calibre/calibre-regular.woff) format('woff'), url(/assets/fonts/calibre/calibre-regular.ttf) format('truetype'), url(/assets/fonts/calibre/calibre-regular.otf) format('opentype'), url(/assets/fonts/calibre/calibre-regular.svg) format('svg');
}
@font-face {
  font-family: "Calibre Semi";
  src: url(/assets/fonts/calibre/calibre-semibold.woff) format('woff'), url(/assets/fonts/calibre/calibre-semibold.ttf) format('truetype'), url(/assets/fonts/calibre/calibre-semibold.otf) format('opentype'), url(/assets/fonts/calibre/calibre-semibold.svg) format('svg');
}
.font-primary, body, h2, .h2, p, .paragraph-normal, small, .paragraph-small, .paragraph-medium, .timeline-release--event h2, .header .client {
  font-family: "Calibre Regular", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.font-primary-bold, h1, .h1, h3, .h3, h4, .h4, .timeline-release h3, .timeline-release--deliverable h3, .timeline-release--event h3, .timeline-release--next h3, .nav-wrapper .nav-title, .nav-wrapper .nav-list li {
  font-family: "Calibre Semi", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.font-small, h4, .h4, .timeline-release h3, .timeline-release--deliverable h3, .timeline-release--event h3, .timeline-release--next h3, .nav-wrapper .nav-title, .nav-wrapper .nav-list li, small, .paragraph-small, .button, table tbody td, table tbody th, #table-of-content, .timeline-release a span, .timeline-release--deliverable a span, .timeline-release--event a span, .timeline-release--next a span {
  font-size: 15px;
  line-height: 1.4;
}

.font-normal, body, p, .paragraph-normal {
  font-size: 18px;
  line-height: 1.33333;
}

.font-medium, h3, .h3, .paragraph-medium, .timeline-release--event h2 {
  font-size: 21px;
  line-height: 1.14286;
}

.font-large, h2, .h2 {
  font-size: 30px;
  line-height: 1;
}

.font-xlarge, h1, .h1, .header .client {
  font-size: 42px;
  line-height: 1;
}

.font-uppercase, h4, .h4, .timeline-release h3, .timeline-release--deliverable h3, .timeline-release--event h3, .timeline-release--next h3, .nav-wrapper .nav-title, .nav-wrapper .nav-list li, .timeline-release a span, .timeline-release--deliverable a span, .timeline-release--event a span, .timeline-release--next a span {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 1.33333;
  color: #636058;
}

h1, .h1 {
  color: #4e4c47;
  letter-spacing: -0.02em;
}

h2, .h2 {
  color: #f06654;
  letter-spacing: -0.02em;
}

h3, .h3 {
  color: #4e4c47;
}

h1 em {
  font-family: "Calibre Regular";
  padding-left: 12px;
}

.col {
  padding: 0 0;
}

.row {
  position: relative;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row .row {
  margin-left: 0;
  margin-right: 0;
}

@media only screen {
  .col {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 400px) {
  .one-to-eight {
    width: 12.5%;
  }
}

.two-to-eight {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .two-to-eight {
    width: 25%;
  }
}

.three-to-eight {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .three-to-eight {
    width: 37.5%;
  }
}

.four-to-eight {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .four-to-eight {
    width: 50%;
  }
}

.five-to-eight {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .five-to-eight {
    width: 62.5%;
  }
}

.six-to-eight {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .six-to-eight {
    width: 75%;
  }
}

@media screen and (min-width: 900px) {
  .seven-to-eight {
    width: 87.5%;
  }
}

.eight-to-eight {
  width: 100%;
}

@media screen and (min-width: 400px) {
  .one-to-five {
    width: 20%;
  }
}

@media screen and (min-width: 400px) {
  .two-to-five {
    width: 40%;
  }
}

@media screen and (min-width: 400px) {
  .three-to-five {
    width: 60%;
  }
}

@media screen and (min-width: 400px) {
  .four-to-five {
    width: 80%;
  }
}

.five-to-five {
  width: 100%;
}

@media screen and (min-width: 400px) {
  .one-to-six {
    width: 16.66667%;
  }
}

.two-to-six {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .two-to-six {
    width: 33.33333%;
  }
}

@media screen and (min-width: 400px) {
  .three-to-six {
    width: 50%;
  }
}

@media screen and (min-width: 400px) {
  .four-to-six {
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  .four-to-six {
    width: 66.66667%;
  }
}

@media screen and (min-width: 400px) {
  .five-to-six {
    width: 83.33333%;
  }
}

.six-to-six {
  width: 100%;
}

.one-to-four {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .one-to-four {
    width: 25%;
  }
}

.two-to-four {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .two-to-four {
    width: 50%;
  }
}

.three-to-four {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .three-to-four {
    width: 75%;
  }
}

.four-to-four {
  width: 100%;
}

@media screen and (min-width: 400px) {
  .one-to-three {
    width: 33.33333%;
  }
}

@media screen and (min-width: 400px) {
  .two-to-three {
    width: 66.66667%;
  }
}

.three-to-three {
  width: 100%;
}

@media screen and (min-width: 400px) {
  .one-to-two {
    width: 50%;
  }
}

.two-to-two {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .push-1-4 {
    margin-left: 25%;
  }
}

@media screen and (min-width: 900px) {
  .push-2-4 {
    margin-left: 50%;
  }
}

@media screen and (min-width: 900px) {
  .push-3-4 {
    margin-left: 75%;
  }
}

.pull-1 {
  margin-right: 12.5%;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 6%;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.space-tiny {
  padding-top: 6px;
  padding-bottom: 6px;
}

.space-small {
  padding-top: 12px;
  padding-bottom: 12px;
}

.space-normal {
  padding-top: 18px;
  padding-bottom: 18px;
}

.space-medium {
  padding-top: 30px;
  padding-bottom: 30px;
}

.space-large {
  padding-top: 54px;
  padding-bottom: 54px;
}

.space-xlarge {
  padding-top: 102px;
  padding-bottom: 102px;
}

.space-top-tiny {
  padding-top: 6px;
}

.space-top-small {
  padding-top: 12px;
}

.space-top-normal {
  padding-top: 18px;
}

.space-top-medium {
  padding-top: 30px;
}

.space-top-large {
  padding-top: 54px;
}

.space-top-xlarge {
  padding-top: 102px;
}

.space-bottom-tiny {
  padding-bottom: 6px;
}

.space-bottom-small {
  padding-bottom: 12px;
}

.space-bottom-normal {
  padding-bottom: 18px;
}

.space-bottom-medium {
  padding-bottom: 30px;
}

.space-bottom-large {
  padding-bottom: 54px;
}

.space-bottom-xlarge {
  padding-bottom: 102px;
}

img {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  outline: none;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.button {
  display: inline-block;
  outline: none;
  text-decoration: none;
}
.button:hover {
  text-decoration: none;
}

.button-full {
  display: block;
  text-align: center;
}

.button {
  padding: 6px 12px 3px;
  border: 2px solid #e9e7df;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #636058;
}
.button:hover {
  color: #f06654;
  border-color: #fde3dc;
}
.button:hover:before {
  color: #f06654;
}

.button-back:before {
  position: relative;
  content: "❮";
  padding-right: 6px;
  color: #c3c0b8;
  top: 1px;
  left: -2px;
}

.list-horizontal li {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
}
.list-horizontal li:first-child {
  padding-left: 0;
}
.list-horizontal li:last-child {
  padding-right: 0;
}

.list-bullet, .text ul, .text ol {
  list-style: disc outside none;
  margin-bottom: 18px;
  margin-left: 18px;
  margin-right: 18px;
  padding-left: 12px;
}
.list-bullet ul, .text ul ul, .text ol ul {
  list-style: circle outside none;
  margin-bottom: 6px !important;
}

.list-ordered, .text ol {
  list-style: decimal outside none;
}

input,
textarea,
select {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  margin: 0;
  border: 0;
  padding: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

input[type='submit'] {
  cursor: pointer;
}

input[type='text']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #c3c0b8;
}
input[type='text']:-moz-placeholder,
input[type='email']:-moz-placeholder,
textarea:-moz-placeholder {
  color: #c3c0b8;
}
input[type='text']::-moz-placeholder,
input[type='email']::-moz-placeholder,
textarea::-moz-placeholder {
  color: #c3c0b8;
}
input[type='text']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #c3c0b8;
}
input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  border-color: #cfccbb;
}

a {
  text-decoration: none;
  color: #f06654;
}
a:hover {
  text-decoration: underline;
}

.link {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  border-top: 1px solid #e9e7df;
  border-bottom: 1px solid #e9e7df;
}
table tbody tr:nth-child(even) {
  background-color: #f1f0eb;
}
table tbody td, table tbody th {
  padding: 9px 6px 6px;
}
table tbody th {
  color: #f06654;
  width: 50%;
}
@media screen and (min-width: 400px) {
  table tbody th {
    width: 25%;
  }
}
table tbody td {
  width: 50%;
}
@media screen and (min-width: 400px) {
  table tbody td {
    width: 75%;
  }
}

.text {
  max-width: 678px;
}
.text h1, .text .h1 {
  margin-bottom: 102px;
}
.text h2, .text .h2 {
  border-bottom: 1px dotted;
  padding-top: 18px;
  padding-bottom: 6px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.text h3, .text .h3 {
  padding-top: 18px;
  margin-bottom: 12px;
}
.text h4, .text .h4, .text .timeline-release h3, .timeline-release .text h3, .text .timeline-release--deliverable h3, .timeline-release--deliverable .text h3, .text .timeline-release--event h3, .timeline-release--event .text h3, .text .timeline-release--next h3, .timeline-release--next .text h3, .text .nav-wrapper .nav-title, .nav-wrapper .text .nav-title, .text .nav-wrapper .nav-list li, .nav-wrapper .nav-list .text li {
  padding-top: 12px;
}
.text p,
.text small,
.text .paragraph-normal,
.text .paragraph-small,
.text .paragraph-medium,
.text .timeline-release--event h2,
.timeline-release--event .text h2 {
  margin-bottom: 18px;
}
.text p:last-child {
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.no-indent {
  text-indent: 0;
}

.no-margin {
  margin-bottom: 0;
}

#table-of-content {
  margin-top: 54px;
}
#table-of-content a {
  display: block;
}
#table-of-content .link-H3 {
  padding-left: 12px;
  border-left: 2px solid #e9e7df;
  color: #636058;
}
#table-of-content .link-H2 {
  margin-top: 6px;
}

.timeline {
  position: relative;
}
.timeline:after {
  position: absolute;
  content: "";
  display: block;
  z-index: 1;
  width: 24px;
  height: 24px;
  background-color: #c3c0b8;
  border: 4px solid white;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  bottom: -18px;
  left: -12px;
}

.timeline-release, .timeline-release--deliverable, .timeline-release--event, .timeline-release--next {
  position: relative;
  border-left: 6px solid #c3c0b8;
  padding-left: 30px;
  padding-bottom: 102px;
}
.timeline-release h2, .timeline-release--deliverable h2, .timeline-release--event h2, .timeline-release--next h2 {
  color: #4e4c47;
}
.timeline-release h3, .timeline-release--deliverable h3, .timeline-release--event h3, .timeline-release--next h3 {
  color: #c3c0b8;
  margin-bottom: 6px;
}
.timeline-release a span, .timeline-release--deliverable a span, .timeline-release--event a span, .timeline-release--next a span {
  background-color: #fde3dc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 4px 5px 0;
}
.timeline-release:last-child, .timeline-release--deliverable:last-child, .timeline-release--event:last-child, .timeline-release--next:last-child {
  padding-bottom: 198px;
  z-index: 2;
}

.timeline-release--deliverable:before {
  position: absolute;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 6px solid #c3c0b8;
  border-color: #838078;
  background-color: white;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  top: -3px;
  left: -15px;
}

.timeline-release--event:before {
  position: absolute;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #838078;
  background-color: #838078;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  top: 2px;
  left: -10px;
}

.timeline-release--next {
  margin-bottom: 6px;
  border-color: #e6e5e1;
}
.timeline-release--next h3 {
  margin-bottom: 0;
}
.timeline-release--next h2 {
  color: #c3c0b8;
}
.timeline-release--next img, .timeline-release--next h2 {
  display: inline-block;
}
.timeline-release--next img {
  height: 36px;
}
.timeline-release--next:before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 42px;
  border-left: 6px dotted #e6e5e1;
  background-color: white;
  top: 0;
  left: -6px;
}

.progression-bar {
  margin-bottom: 6px;
}

.progression-bar-mask {
  position: relative;
  width: 100%;
  height: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #636058;
  overflow: hidden;
}

.progression-bar-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  width: 0%;
  background-color: #f06654;
  transition: width ease 1s;
}

.nav-design {
  position: fixed;
  z-index: 20;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 18px 0;
  border-top: 6px solid #c3c0b8;
  background-color: white;
}
.nav-design .button-back {
  display: inline-block;
}
@media screen and (min-width: 400px) {
  .nav-design .button-back {
    float: left;
  }
}

.nav-wrapper {
  padding-top: 8px;
}
@media screen and (min-width: 400px) {
  .nav-wrapper {
    margin-left: 102px;
  }
}
.nav-wrapper .nav-title {
  display: inline-block;
  color: #f06654;
  padding-right: 6px;
}
.nav-wrapper .nav-list {
  display: inline-block;
}
.nav-wrapper .nav-list li {
  cursor: pointer;
  display: inline-block;
  padding-right: 12px;
}
.nav-wrapper .nav-list li:hover {
  color: #f06654;
}

.active {
  color: #f06654;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 102px;
}
.header h1 {
  letter-spacing: -0.03em;
}
.header h1 a {
  color: #4e4c47;
}
.header .client {
  display: inline-block;
  color: #9c9992;
}

.footer {
  border-top: 1px solid #e9e7df;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #c3c0b8;
}

.design-container {
  position: absolute;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
}

.design-image {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.is-visible {
  display: block;
}

.keynote-text {
  margin: 0 auto;
  padding: 54px 0;
}
@media screen and (min-width: 900px) {
  .keynote-text {
    width: 50%;
  }
}

.keynote-doc {
  position: relative;
  margin-bottom: 30px;
}
@media screen and (min-width: 900px) {
  .keynote-doc {
    text-align: right;
  }
}
.keynote-doc img {
  display: block;
  min-width: 75%;
  max-width: 100%;
}
@media screen and (min-width: 900px) {
  .keynote-doc img {
    display: inline-block;
    padding-right: 25%;
  }
}
.keynote-doc figcaption {
  position: relative;
  text-align: left;
  padding: 18px 18px;
}
@media screen and (min-width: 900px) {
  .keynote-doc figcaption {
    position: absolute;
    width: 25%;
    padding: 30px 54px 30px 30px;
    top: 0;
    right: 0;
  }
}
@media screen and (min-width: 900px) {
  .keynote-doc figcaption:after {
    display: block;
    content: "←";
    margin-top: 18px;
  }
}
@media screen and (max-width: 900px) {
  .keynote-doc figcaption:before {
    content: "↑";
    position: absolute;
    left: 0;
    top: 16px;
  }
}

.sidebar {
  position: fixed;
  width: 22%;
  height: 100%;
  top: 0;
  overflow-y: auto;
  padding: 30px 30px 54px 0;
  display: none;
}
@media screen and (min-width: 900px) {
  .sidebar {
    display: block;
  }
}

.main-content {
  padding: 30px 0 198px 54px;
  border-left: 6px solid #c3c0b8;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
