// HEADER
// ------------------------------------------------------------

.header
  padding-top: $space-medium
  // border-bottom: 1px solid $grey-lighter
  padding-bottom: $space-medium
  margin-bottom: $space-xlarge
  h1
    letter-spacing: -0.03em
  h1 a
    color: $color-text-dark
  .client
    @extend .font-xlarge
    @extend .font-primary
    display: inline-block
    color: lighten($grey-medium, 10)